- name: Obfuscate passwords and assign to pws_oem_config 
  block:
  - name: Build list of installed OEM instances
    ansible.builtin.set_fact:
      oem_installed_instances: >-
        {{
          pws_oem_install
          | dict2items
          | selectattr('value.install', 'equalto', true)
          | list
        }}

  - name: Obfuscate certificate passwords (installed only)
    ansible.builtin.command:
      argv:
        - /usr/bin/java
        - -cp
        - "{{ jetty_lib_dir }}/{{ jetty_util_jar }}"
        - org.eclipse.jetty.util.security.Password
        - "{{ pws_oem_config[item.key].certificate_password }}"
    loop: "{{ oem_installed_instances }}"
    loop_control:
      label: "{{ item.key }}"
    register: cert_obf_results
    changed_when: false
    #no_log: true 

  - name: Obfuscate truststore passwords (installed only)
    ansible.builtin.command:
      argv:
        - /usr/bin/java
        - -cp
        - "{{ jetty_lib_dir }}/{{ jetty_util_jar }}"
        - org.eclipse.jetty.util.security.Password
        - "{{ pws_oem_config[item.key].trust_store_password }}"
    loop: "{{ oem_installed_instances }}"
    loop_control:
      label: "{{ item.key }}"
    register: trust_obf_results
    changed_when: false
    #no_log: true 

  - name: Assign obfuscated passwords back to pws_oem_config (installed only)
    ansible.builtin.set_fact:
      pws_oem_config: >-
        {{
          pws_oem_config | combine({
            item.key: pws_oem_config[item.key] | combine({
              'certificate_password_obf': cert_obf_results.results[idx].stderr_lines | select("search","^OBF:") | list | first | default(''),
              'trust_store_password_obf': trust_obf_results.results[idx].stderr_lines | select("search","^OBF:") | list | first | default('')
            })
          })
        }}
    loop: "{{ oem_installed_instances }}"
    loop_control:
      index_var: idx
      label: "{{ item.key }}"
    no_log: true 
    
  when: "'webapps_oem_nodes' in group_names"
  # Change to 'webapps_oem_nodes' when ready or set to 'disabled' to skip this block